.letter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.points {
  position: absolute;
  right: 0.5em;
  bottom: 2.5em;
  font-size: 0.5em;
  height: 0.5em;
}
